Source/Server/Common/Service References/Service/Insight.WS.Server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Insight.WS.Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Insight.WS.Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfSession">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Session" nillable="true" type="tns:Session" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSession" nillable="true" type="tns:ArrayOfSession" />
  <xs:complexType name="Session">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientType" type="xs:int" />
      <xs:element minOccurs="0" name="DeptId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="DeptName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailureCount" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastConnect" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginResult" type="tns:LoginResult" />
      <xs:element minOccurs="0" name="MachineId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnlineStatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="OpenId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" type="xs:int" />
      <xs:element minOccurs="0" name="Validity" type="xs:boolean" />
      <xs:element minOccurs="0" name="Version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Session" nillable="true" type="tns:Session" />
  <xs:simpleType name="LoginResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Multiple" />
      <xs:enumeration value="Online" />
      <xs:enumeration value="Failure" />
      <xs:enumeration value="Banned" />
      <xs:enumeration value="NotExist" />
      <xs:enumeration value="Unauthorized" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LoginResult" nillable="true" type="tns:LoginResult" />
</xs:schema>