Source/Server/Common/Service References/Service/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Insight.WS.Verify" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="NewCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="remove" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyCodeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Insight.WS.Verify" minOccurs="0" name="obj" nillable="true" type="q1:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Insight.WS.Verify" minOccurs="0" name="UserLoginResult" nillable="true" type="q2:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Insight.WS.Verify" minOccurs="0" name="obj" nillable="true" type="q3:Session" />
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthorizationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Verification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Insight.WS.Verify" minOccurs="0" name="obj" nillable="true" type="q4:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Insight.WS.Verify" minOccurs="0" name="VerificationResult" nillable="true" type="q5:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimpleVerification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Insight.WS.Verify" minOccurs="0" name="obj" nillable="true" type="q6:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimpleVerificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SimpleVerificationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Insight.WS.Verify" minOccurs="0" name="obj" nillable="true" type="q7:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Insight.WS.Verify" minOccurs="0" name="GetSessionsResult" nillable="true" type="q8:ArrayOfSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSignature">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Insight.WS.Verify" minOccurs="0" name="obj" nillable="true" type="q9:Session" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q10:guid" />
        <xs:element minOccurs="0" name="pw" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSignatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSignatureResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Insight.WS.Verify" minOccurs="0" name="obj" nillable="true" type="q11:Session" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q12:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserOffline">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Insight.WS.Verify" minOccurs="0" name="obj" nillable="true" type="q13:Session" />
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserOfflineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUserOfflineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Insight.WS.Verify" minOccurs="0" name="obj" nillable="true" type="q14:Session" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="uid" type="q15:guid" />
        <xs:element minOccurs="0" name="validity" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUserStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>