Source/Server/Common/Service References/Service/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SessionManage" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_Interface_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Insight.WS.Verify" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Interface_NewCode_InputMessage">
    <wsdl:part name="parameters" element="tns:NewCode" />
  </wsdl:message>
  <wsdl:message name="Interface_NewCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewCodeResponse" />
  </wsdl:message>
  <wsdl:message name="Interface_VerifyCode_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyCode" />
  </wsdl:message>
  <wsdl:message name="Interface_VerifyCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyCodeResponse" />
  </wsdl:message>
  <wsdl:message name="Interface_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="Interface_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="Interface_Authorization_InputMessage">
    <wsdl:part name="parameters" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:message name="Interface_Authorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="Interface_Verification_InputMessage">
    <wsdl:part name="parameters" element="tns:Verification" />
  </wsdl:message>
  <wsdl:message name="Interface_Verification_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificationResponse" />
  </wsdl:message>
  <wsdl:message name="Interface_SimpleVerification_InputMessage">
    <wsdl:part name="parameters" element="tns:SimpleVerification" />
  </wsdl:message>
  <wsdl:message name="Interface_SimpleVerification_OutputMessage">
    <wsdl:part name="parameters" element="tns:SimpleVerificationResponse" />
  </wsdl:message>
  <wsdl:message name="Interface_GetSessions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSessions" />
  </wsdl:message>
  <wsdl:message name="Interface_GetSessions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionsResponse" />
  </wsdl:message>
  <wsdl:message name="Interface_UpdateSignature_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSignature" />
  </wsdl:message>
  <wsdl:message name="Interface_UpdateSignature_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSignatureResponse" />
  </wsdl:message>
  <wsdl:message name="Interface_UpdateUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserInfo" />
  </wsdl:message>
  <wsdl:message name="Interface_UpdateUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="Interface_SetUserOffline_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUserOffline" />
  </wsdl:message>
  <wsdl:message name="Interface_SetUserOffline_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserOfflineResponse" />
  </wsdl:message>
  <wsdl:message name="Interface_SetUserStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUserStatus" />
  </wsdl:message>
  <wsdl:message name="Interface_SetUserStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="Interface">
    <wsdl:operation name="NewCode">
      <wsdl:input wsaw:Action="http://tempuri.org/Interface/NewCode" message="tns:Interface_NewCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Interface/NewCodeResponse" message="tns:Interface_NewCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyCode">
      <wsdl:input wsaw:Action="http://tempuri.org/Interface/VerifyCode" message="tns:Interface_VerifyCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Interface/VerifyCodeResponse" message="tns:Interface_VerifyCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/Interface/UserLogin" message="tns:Interface_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Interface/UserLoginResponse" message="tns:Interface_UserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authorization">
      <wsdl:input wsaw:Action="http://tempuri.org/Interface/Authorization" message="tns:Interface_Authorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Interface/AuthorizationResponse" message="tns:Interface_Authorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Verification">
      <wsdl:input wsaw:Action="http://tempuri.org/Interface/Verification" message="tns:Interface_Verification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Interface/VerificationResponse" message="tns:Interface_Verification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SimpleVerification">
      <wsdl:input wsaw:Action="http://tempuri.org/Interface/SimpleVerification" message="tns:Interface_SimpleVerification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Interface/SimpleVerificationResponse" message="tns:Interface_SimpleVerification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSessions">
      <wsdl:input wsaw:Action="http://tempuri.org/Interface/GetSessions" message="tns:Interface_GetSessions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Interface/GetSessionsResponse" message="tns:Interface_GetSessions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSignature">
      <wsdl:input wsaw:Action="http://tempuri.org/Interface/UpdateSignature" message="tns:Interface_UpdateSignature_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Interface/UpdateSignatureResponse" message="tns:Interface_UpdateSignature_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/Interface/UpdateUserInfo" message="tns:Interface_UpdateUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Interface/UpdateUserInfoResponse" message="tns:Interface_UpdateUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUserOffline">
      <wsdl:input wsaw:Action="http://tempuri.org/Interface/SetUserOffline" message="tns:Interface_SetUserOffline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Interface/SetUserOfflineResponse" message="tns:Interface_SetUserOffline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUserStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/Interface/SetUserStatus" message="tns:Interface_SetUserStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Interface/SetUserStatusResponse" message="tns:Interface_SetUserStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_Interface" type="tns:Interface">
    <wsp:PolicyReference URI="#NetTcpBinding_Interface_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="NewCode">
      <soap12:operation soapAction="http://tempuri.org/Interface/NewCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyCode">
      <soap12:operation soapAction="http://tempuri.org/Interface/VerifyCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap12:operation soapAction="http://tempuri.org/Interface/UserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authorization">
      <soap12:operation soapAction="http://tempuri.org/Interface/Authorization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verification">
      <soap12:operation soapAction="http://tempuri.org/Interface/Verification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SimpleVerification">
      <soap12:operation soapAction="http://tempuri.org/Interface/SimpleVerification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessions">
      <soap12:operation soapAction="http://tempuri.org/Interface/GetSessions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSignature">
      <soap12:operation soapAction="http://tempuri.org/Interface/UpdateSignature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <soap12:operation soapAction="http://tempuri.org/Interface/UpdateUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserOffline">
      <soap12:operation soapAction="http://tempuri.org/Interface/SetUserOffline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserStatus">
      <soap12:operation soapAction="http://tempuri.org/Interface/SetUserStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SessionManage">
    <wsdl:port name="NetTcpBinding_Interface" binding="tns:NetTcpBinding_Interface">
      <soap12:address location="net.tcp://localhost:6200/VerifyServer" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:6200/VerifyServer</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/WIN10VM</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>